/* Global css rules
 * ignore viewport breakpoint size.
 */
div.footer {
    background-color: #fce80a;
}

div.copyright .columns {
    margin-top: 0;
}

/* Breakpoint that used here is followed bulma's breakpoint
 * to avoid miss-display to element
 */

/* Breakpoint for mobile
 */
@media screen and (max-width: 768px) {

}

/* Breakpoint for tablet
 */
@media screen and (min-width: 769px) {

}

/* Breakpoint for desktop
 */
@media screen and (min-width: 1024px) {
}

/* Breakpoint for widescreen
 */
@media screen and (min-width: 1216px) {

}

/* Breakpoint for full-HD
 */
@media screen and (min-width: 1408px) {

}

