

/* Breakpoint for mobile
 */
@media screen and (max-width: 768px) {
}

/* Breakpoint for tablet
 */
@media screen and (max-width: 769px) {
    .navbar-brand a.navbar-item:first-child {
        flex-grow: 2;
    }
}

/* Breakpoint for desktop
 */
@media screen and (min-width: 1024px) {
    .navbar-brand a.navbar-item:not(:first-child) {
        display: none;
    }
}

/* Breakpoint for widescreen
 */
@media screen and (min-width: 1216px) {

}

/* Breakpoint for full-HD
 */
@media screen and (min-width: 1408px) {

}

